/**
*
* {{ properCase name }}
*
*/

import React from 'react'
import PropTypes from 'prop-types'
{{#if wantSCSS}}
import styles from './index.scss'
{{/if}}

export default class {{ properCase name }} extends React.PureComponent {
  static propTypes = {
    data: PropTypes.object,
  }

  static defaultProps = {
    data: {},
  }

  state = {
    data: {},
  }

  render() {
    return (
      {{#if wantSCSS}}
      <div className={{curly true}}styles.container{{curly}}>
      {{else}}
      <div>
      {{/if}}
      </div>
    )
  }
}
