/**
 *
 * {{properCase name }}
 *
 */

import React from 'react'
import PropTypes from 'prop-types'
import { connect } from 'react-redux'
{{#if wantActions}}
import { bindActionCreators } from 'redux'
import * as acts from './actions'
{{/if}}
{{#if wantReducer}}
import select{{properCase name}} from './selector'
{{/if}}
{{#if wantSCSS}}
import styles from './styles'
{{/if}}

class {{ properCase name }} extends React.{{{ component }}} {
  render() {
    return (
      {{#if wantSCSS}}
      <div className={{curly true}}styles.container{{curly}}>
      {{else}}
      <div>
      {{/if}}
      </div>
    )
  }
}

{{#if wantReducer}}
const mapStateToProps = select{{properCase name}}()
{{/if}}

{{#if wantActions}}
function mapDispatchToProps(dispatch) {
  const actions = {
    ...acts,
  }
  const actionMap = { actions: bindActionCreators(actions, dispatch) }
  return actionMap
}
{{/if}}

{{#if wantReducer}}
export default connect(mapStateToProps, mapDispatchToProps)({{ properCase name }})
{{else}}
export default connect(null, mapDispatchToProps)({{ properCase name }})
{{/if}}
